.card {
    width: 25%;
    min-width: 300px;
}
button {
    width: 25%;
    min-width: 300px;
}

h1 {
    text-transform: capitalize;
}

body {
    background-color: #1a202c;
}

.btn {
    background-color: #81e6d9;
    font-weight: bold;
}
